doctype html
head
    include ../compara/head
    script.
        function numberWithCommas(num) {
            var parts = num.toString().split(".");
            return parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",") + (parts[1] ? "." + parts[1] : "");
        }
        function chkNumber(obj) {
            var tmpValue = $(obj).val().replace(/[^0-9,]/g, '');
            tmpValue = tmpValue.replace(/[,]/g, '');
            obj.value = numberWithCommas(tmpValue);
        }
.wrapper
    include ../compara/sidebar
        script.
            $(document).ready(function () {
                $('#vehiclemanage').addClass('active');
            });
    .main
        include ../compara/navbar
        main.content
            .container-fluid.p-0
                .row.justify-content-start
                    .col-xl-4.col-lg-6.col-md-12
                        h1
                            strong= "Add Personal vehicle"
                        h6 개인 차량 추가
                    .row
                        .card
                            .card-body
                                //추가해야하는항목 - 차량별칭, 현제km - mileage, 차량번호(number)- 필요시, detail, 출고일
                                .container.col-xl-8.col-lg-12
                                    form(action="addvehicle" method="post")
                                        h4 Vehicle name
                                        input.mb-3.form-control( type="text" name="title" placeholder="Title" class="col-12" required)
                                        h4 Number
                                            input.mb-3.form-control( type="text" name="number" placeholder="number" class="col-12" required)
                                        h4 Mileage (Km)
                                            .input-group.mb-3
                                                input(class="form-control" type="text" onkeyup="chkNumber(this)" name="mileage" placeholder="mileage" class="col-12" required)
                                                span(class="input-group-text" id="basic-addon2") KM
                                        h4 Produced date
                                        input.mb-3(class="form-control" type="date" name="produced" placeholder="produced" class="col-12" required)
                                        h4 Detail
                                        textarea.mb-3(class="form-control" type="textarea" name="detail" placeholder="detail" class="col-12" required)
                                        .row.text-end
                                            a(class="btn btn-dark text-light col-lg-3 col-sm-5 ms-auto m-2" href="javascript:history.back()") Go back
                                            button(class="btn btn-dark text-light col-lg-3 col-sm-5 m-2" type="submit") Submit

    include ../compara/footer_script.pug