doctype html
include ../compara/head.pug
.wrapper
    include ../compara/sidebar
    script.
        $(document).ready(function () {
            $('#vehiclemanage').addClass('active');
        });
    .main
        include ../compara/navbar
        main.content
            .container-fluid.p-0
                .row.justify-content-start
                    .col
                        h1
                            strong Vehicle management
                        h6 차량관리
                .row
                    .col-lg-8
                        .card
                            .card-body
                                h3 Prefer Parts according to miles

                    .col-lg-4
                        .card
                            .card-body

        include ../compara/footer.pug
    include ../compara/footer_script.pug