doctype html
head
    include ../compara/head
    script.
        function numberWithCommas(num) {
            var parts = num.toString().split(".");
            return parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",") + (parts[1] ? "." + parts[1] : "");
        }
        function chkNumber(obj) {
            var tmpValue = $(obj).val().replace(/[^0-9,]/g, '');
            tmpValue = tmpValue.replace(/[,]/g, '');
            obj.value = numberWithCommas(tmpValue);
        }
.wrapper
    include ../compara/sidebar
        script.
            $(document).ready(function () {
                $('#wishlist').addClass('active');
            });
    .main
        include ../compara/navbar
        main.content
            .container-fluid.p-0
                .row.justify-content-start
                    h1
                        strong= "Add Financial obligation"
                    h6 대부 항목 추가
                    .row
                        .card
                            .card-body
                                .container.col-xl-8.col-lg-12
                                    form(action="financialobligationadd" method="post")
                                        input(type="hidden" name="_csrf" value=csrfToken)
                                        h4 Loaner
                                        h6 채무자
                                        input.mb-3(class="form-control" type="text" name="loaner" placeholder="loaner" class="col-12" required)
                                        h4 Title
                                        h6 제목
                                        input.mb-3(class="form-control" type="text" name="title" placeholder="Title" class="col-12" required)
                                        h4 Cost
                                        h6 금액
                                            .input-group.mb-3
                                                input(class="form-control" type="text" onkeyup="chkNumber(this)" name="cost" placeholder="Cost" class="col-12" required)
                                                span(class="input-group-text" id="basic-addon2") KRW
                                        h4 Due date
                                        h6 만료일
                                        input.mb-3(class="form-control" type="date" name="duedate" placeholder="duedate" class="col-12")
                                        .row.text-end
                                            a(class="btn btn-dark text-light col-lg-3 col-sm-5 ms-auto m-2" href="javascript:history.back()") go back
                                            button(class="btn btn-dark text-light col-lg-3 col-sm-5 m-2" type="submit") Submit

    include ../compara/footer_script.pug