doctype html
include main/compara/head.pug
.wrapper
    include main/compara/sidebar
    .main
        include main/compara/navbar
        main.content
            .container-fluid.p-0
                h1= message
                h2= error.status
                pre #{error.stack}