doctype html
include ../compara/head.pug
.wrapper
    .main
        main.content
            .container.p-0
                div(class="row justify-content-center")
                    div(class="col-xl-10 col-lg-12 col-md-9")
                        div(class="card o-hidden border-0 shadow-lg my-5")
                            div(class="card-body p-0")
                                div(class="row")
                                    img(src="images/login.jpg" class="col-lg-6 d-none d-lg-block")
                                    div(class="col-lg-6")
                                        div(class="p-5")
                                            .text-center
                                                h1(class="h3 text-gray-900") Finence report
                                                h2(class="h6 text-gray-700 mb-4") ARCTIC DATA CENTER
                                            form.user
                                                input.form-control.mb-2(type="id" name="id" placeholder="id" required)
                                                input.form-control.mb-2(type="password" name="pw" placeholder="password" required)
                                                button.btn.btn-primary.mb-2.form-control(type="submit" formmethod="post") Login
                                            hr
                                            div(class="text-center")
                                                a(class="small" href="forgot-password.html") Forgot Password?
                                            div(class="text-center")
                                                a(class="small" href="register") Create an Account!
        include ../compara/footer.pug
include ../compara/footer_script.pug
