doctype html
include ../compara/head.pug
.wrapper
    nav#sidebar.sidebar.js-sidebar
        .sidebar-content.js-simplebar
            a.sidebar-brand(href='index')
                span.align-middle E-PRO
                //img(src="images/logo_white.png" alt="homepage" width="90")
            ul.sidebar-nav
                li.sidebar-header
                    | Main functions
                li.sidebar-item
                    a.sidebar-link(href='index')
                        i.align-middle(data-feather='sliders')
                        span.align-middle Dashboard
                li.sidebar-header
                    | Experimental
                li.sidebar-item
                    a.sidebar-link(href='latestdata')
                        i.align-middle(data-feather='bar-chart-2')
                        span.align-middle 수입 지출 관리
                li.sidebar-item.active
                    a.sidebar-link(href='fixedexpense')
                        i.align-middle(data-feather='grid')
                        span.align-middle 고정 지출
                li.sidebar-item
                    a.sidebar-link(href="tobuylist")
                        i.align-middle(data-feather='check-square')
                        span.align-middle 지출 예정 항목
    .main
        include ../compara/navbar
        main.content
            .container-fluid.p-0
                    div(class="m-4")
                        H2(class="text-dark") Add fixed expense
                        h6() 고정 지출 항목 추가
                    row(class="row justify-content-center")
                        div(class="col-12")
                            div(class='card shadow-lg')
                                div(class='card-body')
                                    div(class="container col-lg-8")
                                        form(action="fixedexpenseadd" method="post")
                                            table(class="table table-hover table-borderless text-center")
                                                tr
                                                    th Title
                                                    td
                                                        input(class="form-control" type="text" name="title" placeholder="title" class="col-12" required)
                                                tr
                                                    th Category
                                                    td
                                                        select(class="form-control" name="category" placeholder="title" class="col-12" required)
                                                            option(value="통신비") 통신비
                                                            option(value="교통비") 교통비
                                                            option(value="생활비") 생활비
                                                            option(value="구독") 구독
                                                            option(value="보험") 보험
                                                            option(value="세금") 세금
                                                tr
                                                    th Comment
                                                    td
                                                        input(class="form-control" type="text" name="comment" placeholder="comment" class="col-12" required)
                                                tr
                                                    th Cycle
                                                    td
                                                        select(class="form-control" name="payment_num" placeholder="payment_num" class="col-12" required)
                                                            option(value="12") 매달
                                                            option(value="1") 매년
                                                            option(value="2") 반기(6개월)
                                                            option(value="4") 분기(3개월)
                                                tr
                                                    th Cost
                                                    td
                                                        input(class="form-control" type="number" name="price" placeholder="price" class="col-12" required)
                                            div(class="row")
                                                a(class="btn btn-dark text-light col-lg-3 col-sm-5 ml-auto m-2" href="javascript:history.back()") go back
                                                button(class="btn btn-dark text-light col-lg-3 col-sm-5 m-2" type="submit") Submit
        include ../compara/footer
    include ../compara/footer_script