doctype html
include ../compara/head.pug
.wrapper
    include ../compara/sidebar
        script.
            $(document).ready(function () {
                $('#fixedexpense').addClass('active');
            });
    .main
        include ../compara/navbar
        main.content
            .container-fluid.p-0
                div(class="m-4")
                    H2(class="text-dark") Add fixed expense
                    h6() 고정 지출 항목 추가
                row(class="row justify-content-center")
                    div(class="col-12")
                        div(class='card shadow-lg')
                            div(class='card-body')
                                div(class="container col-lg-8")
                                    form(action="fixedexpenseeditapply" method="post")
                                        h4 Title
                                        input.mb-2(class="form-control" type="text" name="title" value=title placeholder="Title" class="col-12" required)
                                        h4 Category
                                        select.mb-2(class="form-control" name="category" placeholder="Category" class="col-12" required)
                                            option(value="" selected disabled hidden) Category
                                            for line in ['통신비', '교통비', '생활비', '구독', '보험', '세금']
                                                option(value=line)= line
                                        h4 Comment
                                        input.mb-2(class="form-control" type="text" name="comment" placeholder="Comment" class="col-12" required)
                                        h4 Link
                                        input.mb-2(class="form-control" type="text" name="link" placeholder="Link" class="col-12" required)
                                        h4 Cycle
                                        select.mb-2(class="form-control" name="payment_num" placeholder="payment_num" class="col-12" required)
                                            option(value="" selected disabled hidden) Payment Cycle
                                            for line in [['12', '매달'],['1', '매년'], ['2', '반기'], ['4', '분기']]
                                                option(value=line[0])= line[1]
                                        h4 Cost
                                        input.mb-2(class="form-control" type="number" name="price" placeholder="price" class="col-12" required)
                                        .row
                                            a(class="btn btn-dark text-light col-lg-3 col-sm-5 ms-auto m-2" href="javascript:history.back()") go back
                                            button(class="btn btn-dark text-light col-lg-3 col-sm-5 m-2" type="submit") Submit
        include ../compara/footer
    include ../compara/footer_script