doctype html
include ../compara/head.pug
.wrapper
    include ../compara/sidebar
    script.
        $(document).ready(function () {
            $('#report').addClass('active');
        });
    .main
        include ../compara/navbar
        main.content
            .container-fluid.p-0
                .row.justify-content-start
                    .col
                        h1
                            strong Report
                            //a.btn.btn-dark.ms-3.disabled(href="projectadd") new project
                        h6 재정 수지 보고
                .row
                    .col-lg-12
                        .card
                            .card-body
                                canvas(id="reportchart")
                    .col-lg-6
                        .card
                            .card-body
                                h4 1년기준 변동액
                                h4= (result[0].todaytotal-result[0].yearbefore).toLocaleString()  + "KRW"
                    .col-lg-6
                        .card
                            .card-body
                                h4 1억을 모으는데 걸리는 시간
                                h4= (Math.round(10000000000/(result[0].todaytotal - result[0].yearbefore))/100) + " 년"
            script(src="https://cdn.jsdelivr.net/npm/chart.js")
            script(src="/chartjs/report_chart.js")
        include ../compara/footer
    include ../compara/footer_script
