doctype html
include ../compara/head.pug
.wrapper
    include ../compara/sidebar
    script.
        $(document).ready(function () {
            $('#report').addClass('active');
        });
    .main
        include ../compara/navbar

