doctype html
include ../compara/head.pug
.wrapper
    nav#sidebar.sidebar.js-sidebar
        .sidebar-content.js-simplebar
            a.sidebar-brand(href='index')
                span.align-middle E-PRO
                //img(src="images/logo_white.png" alt="homepage" width="90")
            ul.sidebar-nav
                li.sidebar-header
                    | Main functions
                li.sidebar-item
                    a.sidebar-link(href='index')
                        i.align-middle(data-feather='sliders')
                        span.align-middle Dashboard
                li.sidebar-header
                    | Experimental
                li.sidebar-item
                    a.sidebar-link(href='latestdata')
                        i.align-middle(data-feather='bar-chart-2')
                        span.align-middle 수입 지출 관리
                li.sidebar-item
                    a.sidebar-link(href='fixedexpense')
                        i.align-middle(data-feather='grid')
                        span.align-middle 고정 지출
                li.sidebar-item.active
                    a.sidebar-link(href="tobuylist")
                        i.align-middle(data-feather='check-square')
                        span.align-middle 지출 예정 항목
    .main
        include ../compara/navbar
        main.content
            .container-fluid.p-0
                    H2(class="m-4 text-dark") Future Life Index
                    div(class="row")
                        div(class="col-lg-6")
                            div(class='card shadow mb-2')
                                div(class='card-body')
                                    canvas(id="myChart")
                            div(class='card shadow mb-2')
                                div(class='card-body')
                                    canvas(id="myChart2")
            script(src="https://cdn.jsdelivr.net/npm/chart.js")
            script(src="/chartjs/index_chart.js")
            //- script(src="/chartjs/index_chart2.js")
        include ../compara/footer.pug
    include ../compara/footer_script.pug