head
    include compara/head
.wrapper
    include compara/sidebar
    .main
        include compara/navbar
        main.content
            .container-fluid.p-0
                    row(class="row justify-content-center")
                        H2(class="m-4 text-dark") Add data
                        div(class="col-12")
                            div(class='card border-0 shadow-lg')
                                div(class='card-body')
                                    div(class="container col-lg-8")
                                        form(action="adddata" method="post")
                                            table(class="table table-hover table-borderless text-center")
                                                tr
                                                    th cost
                                                    td 
                                                        input(class="form-control" type="number" name="cost" placeholder="cost" class="col-12" required)
                                                tr
                                                    th(class="col-6") detail
                                                    td
                                                        input(class="form-control" type="text" name="details" placeholder="details" class="col-12" required)
                                                tr
                                                    th method
                                                    td
                                                        select(class="form-control" name="title" placeholder="title" class="col-12" required)
                                                            for line in setting.method
                                                                option(value=line)= line
                                                            //option(value="naverpay") 네이버페이
                                                            //option(value="cash") 현금
                                                            //option(value="card-samsung") 삼성카드
                                                            //option(value="card-kb") 국민카드
                                                            //option(value="card-hyundai") 현대카드
                                                tr
                                                    th Paid for
                                                    td
                                                        select(class="form-control" name="subord" placeholder="title" class="col-12" required)
                                                            option(value="server") 서버실
                                                            option(value="family") 가족
                                                            option(value="personal") 개인
                                                tr  
                                                    th date
                                                    td
                                                        input(class="form-control" type="date" name="date" placeholder="date" id='currentDate' class="col-12" required)
                                                        script.
                                                            document.getElementById('currentDate').value = new Date().toISOString().substring(0, 10);
                                                tr
                                                    th alligner
                                                    td
                                                        select(class="form-control" name="alligner" placeholder="alligner" class="col-12" required)
                                                            option(value="통신비") 통신비
                                                            option(value="교통비") 교통비
                                                            option(value="교통비-택시") 교통비-택시
                                                            option(value="취미") 취미
                                                            option(value="식비") 식비
                                                            option(value="의료비") 의료비
                                                            option(value="의류비") 의류비
                                                            option(value="교육비") 교육비
                                                            option(value="생활비") 생활비
                                                            option(value="server") server
                                                            option(value="급여") 급여
                                            div(class="row")
                                                a(class="btn btn-dark text-light col-lg-3 col-sm-5 ml-auto m-2" href="javascript:history.back()") go back
                                                button(class="btn btn-dark text-light col-lg-3 col-sm-5 m-2" type="submit") Submit
                                            
    include compara/footer_script.pug