doctype html
include compara/head.pug
.wrapper
    include compara/sidebar
    script.
        $(document).ready(function () {
            $('#index').addClass('active');
        });
    .main
        include compara/navbar
        main.content
            .container-fluid.p-0
                    H2(class="m-4 text-dark") Site map
                    div(class="col-lg-12")
                        div(class='card shadow')
                            div(class='card-body')
                                table(class="table")
                                    thead
                                        tr
                                            th Title
                                            th Link
                                    tbody
                                        tr
                                            td sample
                                            td
                                                a(href="#") sample

            include compara/footer.pug
    include compara/footer_script.pug