doctype html
include ../compara/head.pug
.wrapper
    include ../compara/sidebar
    script.
        $(document).ready(function () {
            $('#projects').addClass('active');
        });
    .main
        include ../compara/navbar
        main.content
            .container-fluid.p-0
                .row.justify-content-start.mb-2
                    .col-auto.ms-2
                        h1
                            strong Project Management
                            //a.btn.btn-dark.ms-3.disabled(href="projectadd") new project
                        h6 프로젝트 관리
                .row
                    if result1
                        for line in result1
                            .col-lg-6
                                .card
                                    .card-body
                                        .row
                                            .col
                                                h3.fw-bold
                                                    a(href="projectdetail?pid=" + line.pid)= line.title
                                                h6= line.description
                                                h6= "Created : " + line.created.toLocaleString('en-US')
                                            .col.text-end
                                                if(line.creator == id)
                                                    span.ms-auto.ms-3.badge.bg-danger owner

                    .col-lg-6
                        .card
                            .card-body
                                h3.fw-bold
                                    a(type="button" data-bs-toggle="modal" data-bs-target="#projectaddmodal" href="#") + New Project
                                .modal.text-start#projectaddmodal
                                    .modal-dialog
                                        form(action="projectadd" method="post")
                                        .modal-content.text-dark
                                            .modal-header.mb-0.pb-2
                                                .modal-title
                                                    h4.fw-bold Add Project
                                            .modal-body
                                                input(type="hidden" name="_csrf" value=csrfToken)
                                                .label.fw-bold Title
                                                input.mb-3(class="form-control" type="text" name="title" placeholder="Title" class="col-12" required)
                                                .label.fw-bold Description
                                                textarea.mb-3(class="form-control" type="textarea" name="description" placeholder="Description" class="col-12" required)
                                            .modal-footer
                                                a.btn.btn-secondary.ms-auto(data-bs-dismiss="modal") Close
                                                button.btn.btn-primary.text-light(type="submit") Submit
                                h6 Add new project



        include ../compara/footer
    include ../compara/footer_script