head
    include ../compara/head.pug
.wrapper
    include ../compara/sidebar
    script.
        $(document).ready(function () {
            $('#projects').addClass('active');
        });
    .main
        include ../compara/navbar
        main.content
            .container-fluid.p-0
                .row.justify-content-center
                    H2.m-4 New Project
                    .col-12
                        .card
                            .card-body
                                .container.col-lg-8
                                    form(action="projectadd" method="post")
                                        h3(class="col-6") Title
                                        input.mb-3(class="form-control" type="text" name="title" placeholder="Title" class="col-12" required)
                                        h3(class="col-3") Description
                                        textarea.mb-3(class="form-control" type="textarea" name="description" placeholder="Description" class="col-12" required)
                                        div(class="row")
                                            a(class="btn btn-dark text-light col-lg-3 col-sm-5 ms-auto m-2" href="javascript:history.back()") go back
                                            button(class="btn btn-dark text-light col-lg-3 col-sm-5 m-2" type="submit") Submit

    include ../compara/footer_script.pug