doctype html
include ../compara/head.pug
.wrapper
    include ../compara/sidebar
    script.
        $(document).ready(function () {
            $('#projects').addClass('active');
        });
    .main
        include ../compara/navbar
        main.content
            .container-fluid.p-0
                .row.justify-content-start
                    .col
                        h1
                            strong Project Management
                            //a.btn.btn-dark.ms-3.disabled(href="projectadd") new project
                        h6 프로젝트 관리
                .row
                    if result1
                        for line in result1
                            .col-lg-6
                                .card
                                    .card-body
                                        .row
                                            .col
                                                h3.fw-bold
                                                    a(href="projectdetail?pid=" + line.pid)= line.title
                                                h6= line.description
                                                h6= "Created : " + line.created.toLocaleString('en-US')
                                            .col.text-end
                                                if(line.creator == id)
                                                    span.ms-auto.ms-3.badge.bg-danger owner

                    .col-lg-6
                        .card
                            .card-body
                                h3
                                    a.text-info(href="projectadd") +
                                h6 Add new project



        include ../compara/footer
    include ../compara/footer_script