script(src='js/app.js')
script(src="https://code.jquery.com/jquery-3.5.1.js")
script(src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js")
script(src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap5.min.js")