head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description' content='Responsive Admin & Dashboard Template based on Bootstrap 5')
    meta(name='author' content='D3SP3R4D0S')
    link(rel='preconnect' href='https://fonts.gstatic.com')
    link(rel='shortcut icon' href='img/icons/icon-48x48.png')
    link(rel='canonical' href='https://demo-basic.adminkit.io/')
    title E-PRO by acdc

    link(href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" rel="stylesheet")
    link(href="https://cdn.datatables.net/1.11.4/css/dataTables.bootstrap5.min.css" rel="stylesheet")
    link(href='css/app.css' rel='stylesheet')
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" rel='stylesheet')
    link(href='https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap' rel='stylesheet')
    script(src="https://code.jquery.com/jquery-3.5.1.js")
    script(src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js")
    script(src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap5.min.js")