nav#sidebar.sidebar.js-sidebar
    .sidebar-content.js-simplebar
        a.sidebar-brand(href='index')
            span.align-middle E-PRO
            //img(src="images/logo_white.png" alt="homepage" width="90")
        ul.sidebar-nav
            li.sidebar-header
                | Main functions
            li.sidebar-item.active
                a.sidebar-link(href='index')
                    i.align-middle(data-feather='sliders')
                    span.align-middle Dashboard
            li.sidebar-header
                | Experimental
            li.sidebar-item
                a.sidebar-link(href='ui-buttons.html')
                    i.align-middle(data-feather='square')
                    span.align-middle Others