include preloader
nav#sidebar.sidebar.js-sidebar
    .sidebar-content.js-simplebar
        a.sidebar-brand(href='index')
            //span.align-middle E-PRO
            img(src="images/logo_white.png" alt="homepage" width="90")
        ul.sidebar-nav
            li.sidebar-header
                | Main functions
            li.sidebar-item#index
                a.sidebar-link(href='index')
                    i.fa-solid.fa-chart-line
                    span.align-middle Dashboard
            li.sidebar-header
                | Personal Finance
            li.sidebar-item#latestdata
                a.sidebar-link(href='latestdata')
                    i.fa-solid.fa-rotate
                    span.align-middle 수입 지출 관리
            li.sidebar-item#fixedexpense
                a.sidebar-link(href='fixedexpense')
                    i.fa-solid.fa-square-check
                    span.align-middle 고정 지출
            li.sidebar-item#wishlist
                a.sidebar-link(href="tobuylist")
                    i.fa-solid.fa-cart-plus
                    span.align-middle 지출 예정 항목
            li.sidebar-item#report
                a.sidebar-link(href="report")
                    i.fa-solid.fa-file-invoice
                    span.align.middle 레포트
            li.sidebar-header
                | Enterprise Finance
            li.sidebar-item#projects
                a.sidebar-link(href="projects")
                    i.fa-solid.fa-diagram-project
                    span.align-middle 프로젝트 관리
            li.sidebar-item#analysis
                a.sidebar-link(href="analysis")
                    i.fa-solid.fa-square-root-variable
                    span.align-middle 수익성 분석