doctype html
include ../compara/head.pug
.wrapper
    include ../compara/sidebar
    script.
        $(document).ready(function () {
            $('#report').addClass('active');
        });
    .main
        include ../compara/navbar
        main.content
            .container-fluid.p-0
                .row.justify-content-start
                    H1 UNDER CONSTRUCTION
                    H3 This page is under construction
                    H3 Service not available
