doctype html
include ../compara/head
.wrapper
    include ../compara/sidebar
        script.
            $(document).ready(function () {
                $('#wishlist').addClass('active');
            });
    .main
        include ../compara/navbar
        main.content
            .container-fluid.p-0
                    H2(class="m-4 text-dark") Future Life Index
                    div(class="row")
                        div(class="col-lg-6")
                            div(class='card shadow mb-2')
                                div(class='card-body')
                                    canvas(id="myChart")
                            div(class='card shadow mb-2')
                                div(class='card-body')
                                    canvas(id="myChart2")
            script(src="https://cdn.jsdelivr.net/npm/chart.js")
            script(src="/chartjs/index_chart.js")
            //- script(src="/chartjs/index_chart2.js")
        include ../compara/footer
    include ../compara/footer_script