head
    include ../compara/head.pug
.wrapper
    include ../compara/sidebar
    script.
        $(document).ready(function () {
            $('#expendables').addClass('active');
        });
    .main
        include ../compara/navbar
        main.content
            .container-fluid.p-0
                row(class="row justify-content-center")
                    H2(class="m-4 text-dark") Add Expendable purchase
                    div(class="col-12")
                        div(class='card border-0 shadow-lg')
                            div(class='card-body')
                                div(class="container col-lg-8")
                                    form(action="wishitemeditapply" method="post")
                                        h3 Title
                                        input.mb-3(class="form-control" type="text" name="title" value=title placeholder="Title" class="col-12" required)
                                        h4 Cost
                                            .input-group.mb-3
                                                input(class="form-control" type="text" onkeyup="chkNumber(this)" name="cost" value=cost placeholder="Cost" class="col-12" required)
                                                span(class="input-group-text" id="basic-addon2") KRW
                                        h3 Link
                                        input.mb-3(class="form-control" type="text" name="link" value=link placeholder="Link" class="col-12" required)
                                        h3 Description
                                        textarea.mb-3(class="form-control" type="textarea" name="description" placeholder="details" class="col-12" required)= description
                                        //@todo make priorty and status modificating function
                                        div(class="row")
                                            a(class="btn btn-dark text-light col-lg-3 col-sm-5 ml-auto m-2" href="javascript:history.back()") go back
                                            button(class="btn btn-dark text-light col-lg-3 col-sm-5 m-2" type="submit") Submit

    include ../compara/footer_script.pug