doctype html
include  ../compara/head.pug
.wrapper
    include compara/sidebar
    script.
        $(document).ready(function () {
            $('#index').addClass('active');
        });
    .main
        include compara/navbar
        main.content
            .container-fluid.p-0
                .row.justify-content-start.mb-2
                    .col-auto.ms-2
                        h1
                            strong= "Financial index "
                            = yearmonth
                        h6 월간 재정 현황 보고서
                .row
                    .col-lg-6
                        .card
                            .card-body
            script(src="https://cdn.jsdelivr.net/npm/chart.js")
            script(src="/chartjs/index_chart.js")
        include compara/footer.pug
    include compara/footer_script.pug